.reveal h1 {
    font-size: 2em;
}

.reveal h2 {
    position: fixed;
    font-size: 1.8em;
    width: 120%;
    border-bottom: 2px solid black;
    padding: 10px 10px 10px 10px;
    top: 0px;
    left: 0px;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}

.orange { color : orange; }

.reveal ul {
    list-style: none;
    padding:0;
    margin:0;
}
.reveal li { 
    padding-left: 1em; 
    text-indent: -.7em;
}
.reveal li:before {
    content: "≫ ";
    color: orange;
}